<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App - Home</title>
</head>
<body>
  <h1><%= message %></h1>
  <div>
    <p><a href="/page?name=Someone">Hi Page</a></p>
  </div>
</body>
</html>